<div class='sidebar'>

    <div class='sidebar-logo'>
    
    <img
    src='../images/lacurent.png'
    class='logo-img'>
    
    <h2>LA CURENT</h2>
    
    <small>
    Copilot energetic
    </small>
    
    </div>
    
    
    <nav class='sidebar-nav'>
    
    <a href='../index.html' class='sidebar-item active'>
    Dashboard
    </a>
    
    <a href='analiza-casa.html' class='sidebar-item'>
    Analiza Casei
    </a>
    
    <a href='oportunitati.html' class='sidebar-item'>
    Oportunități
    </a>
    
    <a href='consumatori.html' class='sidebar-item'>
    Consumatori
    </a>
    
    <a href='simulator.html' class='sidebar-item'>
    Simulator
    </a>
    
    <a href='casa-mea.html' class='sidebar-item'>
    Casa Mea
    </a>
    
    <a href='piata-energiei.html' class='sidebar-item'>
    Piața Energiei
    </a>
    
    <a href='asistent-ai.html' class='sidebar-item'>
    Asistent AI
    </a>
    
    <a href='date-locuinta.html' class='sidebar-item'>
    Date Locuință
    </a>
    
    <a href='comunitate.html' class='sidebar-item'>
    Comunitate
    </a>
    
    <a href='energy-data-hub.html' class='sidebar-item'>
    Energy Data Hub
    </a>
    
    <a href='profil.html' class='sidebar-item'>
    Profil
    </a>
    
    </nav>
    
    
    
    <div class='sidebar-footer'>
    
    <div class='profile-box'>
    
    <div class='profile-circle'>
    K
    </div>
    
    <div>
    
    <b>Karol</b>
    
    <br>
    
    <small>
    
    Scor energetic:72
    
    </small>
    
    </div>
    
    </div>
    
    </div>
    
    </div>